<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>origin</th>
                    <th>destination</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ship of shipments; let i=index">
                    <td>{{ship.id}}</td>
                    <td>{{ship.origin}}</td>
                    <td>{{ship.destination}}</td>
                    <td>{{ship.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>