<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>position</th>
                    <th>salary</th>
                    <th>department</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees; let i=index">
                    <td>{{emp.id}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.position}}</td>
                    <td>{{emp.salary}}</td>
                    <td>{{emp.department}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>