

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>type</th>
                    <th>amount</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trans of transactions; let i=index">
                    <td>{{trans.id}}</td>
                    <td>{{trans.type}}</td>
                    <td>{{trans.amount}}</td>
                    <td>{{trans.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>